<div class="container-fluid">

    {{!-- <p>{{toJSON data}}</p> --}}
    {{!-- <p>{{toJSON errors}}</p> --}}



    <h1>Crează lecție</h1>

    <form method="post" novalidate onsubmit="saveBtn.disabled = true; return true;">
        <div class="row mb-3">
            <div class="col-md-12">
                <label for="nameInput" class="fw-bold">Titlul lecției:</label>
                <input type="text" name="name" class="form-control" id="nameInput" placeholder="" autofocus
                    value="{{lesson.name}}">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12">
                <label for="descriptionInput" class="fw-bold">Descriere:</label>
                <textarea type="text" name="description" class="form-control" id="descriptionInput"
                    placeholder="">{{lesson.description}}</textarea>
                <small><p class="text-muted mb-0">Doar tu (proprietarul) poți vedea această descriere</p></small>
            </div>
        </div>


        {{#each formFields}}
        <div class="row mb-3">
            <label for="{{id}}" class="col-md-3 col-form-label {{#if required}}required{{/if}}">{{title}}</label>
            <div class="col-md-7">
                <input type="text" name="{{id}}" id="{{id}}"
                    class="form-control {{#if hasError}}is-invalid {{/if}}" value="{{value}}" 
                    {{#if hasFocus}}autofocus {{/if}} />
                <div class="text-muted mb-0">{{description}}</div>
                <div class="invalid-feedback">{{message}}</div>
            </div>
        </div>
        {{/each}}


        <div class="row mb-3">
            <div class="col-md-7 offset-md-3">
                <button type="submit" name="saveBtn" class="btn btn-primary"><i class="bi bi-save"></i>
                    Salveaza</button>
                <button type="button" class="btn btn-light" onclick='window.history.back();'>
                    <i class="bi bi-x"></i>
                    Renunta</button>
            </div>
        </div>

    </form>

    <div class="row mb-3">
        <div class="col-md-7 offset-md-3">
            <a href="/lectii">Lecții</a>
        </div>
    </div>

</div>

