<div class="container-fluid">

    {{#if errors.page}}
    <div class="alert alert-danger">
        <i class="bi bi-exclamation-circle me-2"></i> {{errors.page.msg}}
    </div>
    {{/if}}

    <h1>Crează cont nou</h1>

    <form method="post" id="signupForm" novalidate onsubmit="saveBtn.disabled = true; return true;">

        {{#each formFields}}
        <div class="row mb-3">
            <label for="{{id}}" class="col-md-3 col-form-label fw-bold {{#if required}}required{{/if}}">{{label}}:</label>
            <div class="col-md-7">
                <input type="text" name="{{id}}" id="{{id}}"
                    class="form-control {{#if hasError}}is-invalid {{/if}}" value="{{value}}" 
                    {{#if hasFocus}}autofocus {{/if}} />
                <div class="text-muted mb-0">{{description}}</div>
                <div class="invalid-feedback">{{message}}</div>
            </div>
        </div>
        {{/each}}

        {{!-- {{#with formFields.name}}
        <div class="row mb-3">
            <label for="{{id}}" class="col-md-3 col-form-label fw-bold {{#if required}}required{{/if}}">{{label}}:</label>
            <div class="col-md-7">
                <input type="text" name="{{id}}" id="{{id}}"
                    class="form-control {{#if hasError}}is-invalid {{/if}}" value="{{value}}" 
                    {{#if hasFocus}}autofocus {{/if}} />
                <div class="text-muted mb-0">{{description}}</div>
                <div class="invalid-feedback">{{message}}</div>
            </div>
        </div>
        {{/with}}

        {{#with formFields.description}}
        <div class="row mb-3">
            <label for="{{id}}" class="col-md-3 col-form-label fw-bold {{#if required}}required{{/if}}">{{label}}:</label>
            <div class="col-md-7">
                <input type="text" name="{{id}}" id="{{id}}"
                    class="form-control {{#if hasError}}is-invalid {{/if}}" value="{{value}}" 
                    {{#if hasFocus}}autofocus {{/if}} />
                <div class="text-muted mb-0">{{description}}</div>
                <div class="invalid-feedback">{{message}}</div>
            </div>
        </div>
        {{/with}} --}}

        <input type="hidden" name="invitationCode" value="{{data.invitationCode}}" />
        <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" />

        <div class="row mb-3">
            <div class="col-md-7 offset-md-3">
                <button type="submit" name="saveBtn" class="btn btn-primary"><i class="bi bi-save"></i>
                    Salveaza</button>
                <button type="button" class="btn btn-light" onclick='window.history.back();'>
                    <i class="bi bi-x"></i>
                    Renunta</button>
            </div>
        </div>
    </form>

    <div class="row mb-3">
        <div class="col-md-7 offset-md-3">
            Ti-ai uitat parola? <a href="/auth/reset-password">Reseteaza parola.</a>
        </div>
    </div>

</div>

{{#section 'script-after'}}
{{!-- https://developers.google.com/recaptcha/docs/v3#programmatically_invoke_the_challenge --}}
{{!-- <script src="https://www.google.com/recaptcha/api.js?render={{data.recaptchaSiteKey}}"></script>
<script>

    // intercepts the form submit event
    const form = document.getElementById("signupForm");
    form.addEventListener("submit", onSubmit);

    // https://developers.google.com/recaptcha/docs/v3#programmatically_invoke_the_challenge
    // https://code.tutsplus.com/tutorials/example-of-how-to-add-google-recaptcha-v3-to-a-php-form--cms-33752
    function onSubmit(e) {
        e.preventDefault(); // prevent submitting the form
        grecaptcha.ready(function () {
            grecaptcha.execute('{{data.recaptchaSiteKey}}', { action: 'signup' }).then(function (token) {
                document.getElementById('g-recaptcha-response').value = token;
                form.submit();
            });
        });
    }

</script> --}}
{{/section}}